* {
    margin: 0;
    padding: 0;
}

.addtesk {
    display: flex;


}

.hidden {
    display: none;
}

.description {
    height: 25vh;
}

.form input {
    margin-bottom: 1vh;
}

#backgroundBlock{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 992px){
    .form {
        padding: 1rem;
        width: 30vw;
        height: 60vh;
        position: fixed;
        top: 0;
        background-color: white;
    }
    
}

@media only screen and (max-width: 991px){
    .form {
        padding: 1rem;
    }
}
