/*Start of To Do List For Mobile*/
@media only screen and (max-width: 768px) {

    .phone-btn {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 1em;
        border-radius: 30px;
        border: 0;
        text-align: center;
        font-family: 'Martel Sans', sans-serif;
        font-weight: 800;
        color: #00181E;
        padding: 15px 0;
    }

    .phone-btn:hover {
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 1em;
        border-radius: 30px;
        border: 0;
        box-shadow: 1px 2px 1px 8px rgba(255, 255, 255, 0.25);
    }

    .list {
        height: 80vh !important;
        overflow-y: scroll;
    }

    .task-btn {
        padding: 4px 10px;
        display: block;
        background-color: rgba(235, 235, 235, 0.9);
        font-family: 'Martel Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        border: rgba(238, 238, 238, 1.00);
        border-radius: 6px;
        float: right;
        display: flex !important;
    }

    .task-btn:hover {
        background-color: rgba(255, 255, 255, 1.00);
        border: rgba(238, 238, 238, 1.00);
    }
    
}

@media only screen and (min-width: 769px) {
    .task-btn {
        display: none;
    }
}

/*End of To Do List For Mobile*/

/* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}*/

body {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right 0% bottom 0%;
    overflow: hidden;   /* Hide scrollbars */
}

.addtask {
    display: flex;
}

.hidden {
    display: none;
}

.description {
    height: 25vh;
}

.list input {
    margin-bottom: 1vh;
}

.myCard {
    padding: 10px;
}

@media only screen and (min-width: 992px) {
    .form {
        padding: 1rem;
        width: 30vw;
        height: auto;
        position: fixed;
        top: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(2px);
        border-radius: 7px;
        z-index: 2;
    }
}

@media only screen and (max-width: 991px) {
    .form {
        padding: 1rem;
        width: 100%;
        height: auto;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(2px);
        border-radius: 7px;
        z-index: 2;
    }
}

/*Start of To Do List Style*/
.list {
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 7px;
    height: 90vh;
    /*  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.2), 0 6px 20px 0 rgba(238, 238, 238, 0.19);*/
    /*
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
    */
    box-shadow: 0 8px 12px 0 rgba(42, 42, 42, 0.24), 0 12px 15px 0 rgba(42, 42, 42, 0.19);
    overflow-y: scroll;
}

.list-name {
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 800;
    color: #00181E;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    color: transparent;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    color: #00181E;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
}

.task {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px 10px;
}

.task p {
    margin: 0;
    padding: 5px 0;
}

.user-img {
    /* padding-bottom: 20px; */
    margin-top: 0px;
}

.addbtn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    font-size: 24px;
    border: none;
    padding: 5px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}

.addbtn :hover {
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
}

/*End of To Do List Style*/

/*Start - All about Add botton*/
#backgroundBlock {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
    background-color: rgba(231, 238, 238, 0.95);
    backdrop-filter: blur(20px);
}

.box-w {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
}

.box-bar {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgba(233, 233, 233, 0.92);
    border: rgba(229, 229, 229, 1.00);
}

.addtask-w {
    font-family: 'Martel Sans', sans-serif !important;
    font-weight: 800;
}

.form-btn {
    background-color: rgba(255, 255, 255, 1.00);
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: rgba(238, 238, 238, 1.00);
    border-radius: 12px !important;
}

.form-btn:hover {
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 4px 6px 0 rgba(123, 123, 123, 0.24), 0 4px 6px 0 rgba(123, 123, 123, 0.19);
}

/*End - All about Add botton*/

/*Start of Footer*/
footer {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    z-index: -1;
}

/*End of Footer*/

.task-btn {
    display: none;
}