* {
    margin: 0;
    padding: 0;
}

.addtesk {
    display: flex;


}

.hidden {
    display: none;
}

.description {
    height: 25vh;
}

.form input {
    margin-bottom: 1vh;
}

#backgroundBlock{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

.myCard{
    padding: 10px;
}

@media only screen and (min-width: 992px){
    .form {
        padding: 1rem;
        width: 30vw;
        height: auto;
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 2;
    }
    
}

@media only screen and (max-width: 991px){
    .form {
        padding: 1rem;
        width: 100%;
        height: auto;
        position: fixed;
        background-color: white;
        z-index: 2;
    }
}

/*Start of To Do List Style*/
.form {
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(2px);
	border-radius: 7px;
}

.form-name{
	text-align: center;
	font-family: 'Martel Sans', sans-serif;
	font-weight: 800;
	color: #00181E;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-top: 15px;
	margin-bottom: 0px;
	color: #00181E;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}
.task {
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	padding-left: 18px;
}

.user-img {
/*	padding-bottom: 20px;*/
	margin-top: 0px;
	margin-bottom: 14px;
}
/*End of To Do List Style*/